/* *{
    margin: 0;
    padding: 0;
    color: white
} */
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none; /*To remove underline*/
}


.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 700px;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}