div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
   position: absolute;
   top: 100px;
   left: 100px;

   /* animation-name: colorAnimate;
   animation-duration: 0.25s;
   animation-timing-function: ease-in;
   animation-delay: 0s;
   animation-iteration-count: infinite;  /*How many times*/
   /* animation-direction: alternate;  */
   animation: colorAnimate 2s ease-in 0s infinite normal;
   /* animation: name duration timinig-fn delay iter-count direction ; */
 }
 
 /*Not applied without upper things wriiten
 /* @keyframes colorAnimate {    
   from {background-color: aquamarine;} 
   to {background-color: red;}
 } */
 /* @keyframes colorAnimate {
   from {left: 0px;} 
   to {left: 200px;}
 } */
  
 /* @keyframes colorAnimate {    
   from {background-color: aquamarine;
      left: 0px;
   } 
   to {background-color: red;
      left: 200px;
      color: white;
   }
 }  */

 @keyframes colorAnimate {    
   0% {background-color: aquamarine;
      left: 0px;
   } 
   60%{
      background-color: blue;
   }
   100% {background-color: red;
      left: 200px;
      color: white;
   }
 } 
