* {
    margin: 0;
    font-family: Arial, sans-serif; /* Added 'sans-serif' as fallback */
    box-sizing: border-box; /* Fixes padding/border calculation issues */
}
.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Box-1 */
.nav-logo{
    width: 130px;
    height: 55px;
    /* background-color: white; */
}

/* For logo to show we have to give it's height and background-size,image  */
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 55px;
    width: 85%; 
}

/* Box-2  */

.add-first{
    color:  #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}
.add-icon{
    display: flex;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

/* Box-3 */
.nav-search{
    width: 620px;
    height: 40px;
    display: flex;
    border-radius: 4px; /* Smooth corners */ 
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    font-size: 14px;
    width: 51.6px;
    background-color: #E6E6E6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    font-size: 1.3rem;
    background-color: #febd68;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.border:hover{
    border: 1.5px solid white;
}

/* Box-4 */
.country{
    width: 73.38px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}
.country-icon{
    width: 21.6px;
    height: 16.2px;
    display: flex;
}
.Lan{
    width: 18.38;
    height: 17.6px;
}

/* Box-5 and 6*/
.nav{
    font-size: 12px;
}
.nav-second{
    font-size: 14px;
    font-weight: 700;
}

/* Box-7 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;  /* 1rem = 16px*/ 
    font-weight: 700;
}